#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/{
    keymap {
        compatible = "zmk,keymap";

        // Default layer. 
        // Kinesis layout with a few changes:
        // 1. Capslock swapped with ESC
        // 2. Swapped Up and Down arrows

        default_layer { // Layer 0
            display-name = "Default";
            bindings = <
    &kp EQUAL   &kp N1    &kp N2   &kp N3    &kp N4    &kp N5                          &kp N6    &kp N7    &kp N8    &kp N9    &kp N0   &kp MINUS
    &kp TAB     &kp Q     &kp W    &kp E     &kp R     &kp T                           &kp Y     &kp U     &kp I     &kp O     &kp P    &kp BSLH
    &lt 1 ESC   &kp A     &kp S    &kp D     &kp F     &kp G                           &kp H     &kp J     &kp K     &kp L     &kp SEMI &kp SQT
    &kp LSHFT   &kp Z     &kp X    &kp C     &kp V     &kp B                           &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH &kp RSHFT
                &kp GRAVE &kp BSLH &kp LEFT  &kp RIGHT                                           &kp DOWN  &kp UP    &kp LBKT  &kp RBKT
                                                       &kp LCTRL &kp LALT    &kp RGUI  &kp RCTRL
                                                                 &kp HOME    &kp PG_UP
                                             &kp BSPC  &kp DEL   &kp END     &kp PG_DN &kp RET   &kp SPACE
            >;
        };
        
        // Adjust layer. Contains system controls and overlay toggles.
        // Toggled by holding down ESC key
        adjust_bt_layer { // Layer 1
            display-name = "AdjustBT";
            bindings = <
    &none     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                      &none       &none      &none     &none     &none    &none
    &trans    &out OUT_USB &out OUT_BLE &none        &sys_reset   &none                             &none       &sys_reset &none     &none     &none    &none
    &trans    &none        &none        &none        &none        &tog RAISE                        &none       &none      &none     &none     &none    &none
    &none     &none        &bt BT_CLR   &none        &none        &bootloader                       &bootloader &none      &none     &none     &none    &none
              &none        &none        &none        &none                                                         &none      &none     &none     &none
                                                                  &none       &none       &none     &none
                                                                              &none       &none
                                                         &none    &none       &none       &none     &none     &none
            >;
        };
    };
};